{% extends 'base.html.twig' %}

{% set page_name = "L'association" %}
{% set menu = "cms_about" %}

{# Configurations DataTable #}
{% set data_url = path('admin_cms_about_index') %}
{% set sorting_default = [[0, 1], "asc"] |json_encode %}

{% block title %}
	{{ page_name }}
{% endblock %}

{% block body %}
	<div class="bg-body rounded p-4 mb-3">
		<form class="needs-validation" novalidate id="saveDescriptionsForm">
			<div class="row align-items-center justify-content-between mb-4">
				<div class="col-12 mb-3">
					<h1 class="fs-4 mb-0">{{ page_name is defined ? page_name : "" }}</h1>
				</div>
				<div class="col-12 col-lg-6 mb-2 mb-lg-0">
					<label for="description1" class="form-label">Description 1</label>
					<textarea class="form-control" id="description1" name="description1" rows="6">{{description1.value}}</textarea>
				</div>
				<div class="col-12 col-lg-6">
					<label for="description1" class="form-label">Description 2</label>
					<textarea class="form-control" id="description1" name="description2" rows="6">{{description2.value}}</textarea>
				</div>
				<div class="col-12 col-md-auto mt-2">
					<button type="button" class="btn btn-primary" data-ajax-form="saveDescriptionsForm" data-ajax-post="{{ path('admin_cms_about_save_descriptions') }}">Sauvegarder</button>
				</div>
			</div>
		</form>
    </div>
	<div class="bg-body rounded p-4">
		<div class="row align-items-center justify-content-between mb-4">
			<div class="col-12 col-md-auto">
				<h1 class="fs-4 mb-0">Membres mis en avant</h1>
			</div>
			<div class="col-12 col-md-auto mt-2 mt-md-0">
				{{form_start(addMemberForm, {'attr': {
						'method': 'GET', 
						'novalidate': 'novalidate', 
						'class': 'd-flex gap-2 needs-validation',
						'id': 'add-member-form',
						'enctype': 'multipart/form-data',
					}})}}

					<div class="d-flex flex-column">
					{{ form_widget(addMemberForm.member) }}
					</div>
					<button type="submit" class="btn btn-primary px-3">Ajouter</button>
				{{form_end(addMemberForm)}}
			</div>
		</div>
        {% include 'components/datatable/datatable_base.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

	<script>
	document.addEventListener('DOMContentLoaded', function () {
		const addMemberForm = document.getElementById('add-member-form');
		if (addMemberForm) {
			addMemberForm.addEventListener('submit', function (event) {
				event.preventDefault();
				event.stopPropagation();
				
				if (addMemberForm.checkValidity()) {
					const formData = new FormData(addMemberForm);
					fetch(addMemberForm.action, {
						method: 'POST',
						body: formData,
					})
					.then(response => response.json())
					.then(data => {
						if (data.success) {
							$(".datatable").DataTable().ajax.reload(null, false);
						} else {
						}
					})
					.catch(error => console.error('Error:', error));
				}
			});
		}
	});
	</script>
{% endblock %}