{% extends 'empty_base.html.twig' %}

{% block title %}{{PROJECT_NAME}} - Mot de passe oublié{% endblock %}

{% block body %}
	<form method="post" class="needs-validation bg-primary" novalidate action="{{ path('security_forgot_password') }}">
		<div class="container p-0 min-vh-100">
			<div class="row g-0 h-100 p-0 min-vh-100 ">
				<div class="col-8 d-flex align-items-center justify-content-center h-100 m-auto">
					<div class="card">
						<div class="card-body p-5 mx-md-4">
							<h4 class="">Réinitialiser mon mot de passe</h4>
							<p class="text-body-secondary mb-4">Veuillez saisir votre adresse email utilisé sur la plateforme pour recevoir un code de réinitialisation de votre mot de passe.</p>
							
							{% if error %}
								<div class="alert alert-danger mb-4">{{ error }}</div>
							{% endif %}

							<form class="d-flex flex-column align-items-center" novalidate>
								<div class="col-12 mb-3">
									<label for="inputEmail" class="form-label">Email</label>
									<input type="email" class="form-control" id="inputEmail" value="{{ last_username }}" name="_username" placeholder="Adresse email" required autofocus>
								</div>
								<div class="col-12">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}">
									<button class="btn btn-primary w-100" type="submit">Envoyer le code</button>
								</div>
								<div class="col-auto mt-3">
									<a class="text-muted" href="{{path('security_login')}}">
										Retour à la connexion
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
