{% extends 'empty_base.html.twig' %}

{% block title %}{{PROJECT_NAME}} - Mot de passe oublié{% endblock %}

{% block body %}
	<form method="post" class="needs-validation bg-primary" novalidate action="{{ path('security_reset_password') }}">
		<div class="container p-0 min-vh-100">
			<div class="row g-0 h-100 p-0 min-vh-100 ">
				<div class="col-8 d-flex align-items-center justify-content-center h-100 m-auto">
					<div class="card">
						<div class="card-body p-5 mx-md-4">
							<h4 class="mb-4">Réinitialiser mon mot de passe</h4>
							
							{% if error %}
								<div class="alert alert-danger mb-4">{{ error }}</div>
							{% endif %}

							<form class="d-flex flex-column align-items-center" novalidate>
								<div class="col-12 mb-3">
									<label for="password" class="form-label">Nouveau mot de passe</label>
									<input type="password" class="form-control" id="password" name="password" placeholder="**********" required autofocus>
								</div>
								<div class="col-12 mb-3">
									<label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
									<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="**********" required>
								</div>
								<div class="col-12">
									<input type="hidden" name="token" value="{{ app.request.query.get('token')|default('') }}">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}">
									<button class="btn btn-primary w-100" type="submit">Confirmer</button>
								</div>
								<div class="col-auto mt-3">
									<a class="text-muted" href="{{path('security_login')}}">
										Retour à la connexion
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
