<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">

        <meta name="description" content="{{PROJECT_DESCRIPTION}}">
        <meta name="author" content="{{PROJECT_NAME}}">

        <!-- Open Graph pour Facebook/LinkedIn -->
        <meta property="og:title" content="{{PROJECT_NAME}} - {{CUSTOMER_NAME}}">
        <meta property="og:description" content="{{PROJECT_DESCRIPTION}}">
        <meta property="og:image" content="{{ absolute_url(asset('assets/img/og-image.png')) }}">
        <meta property="og:url" content="https://{{APP_DOMAIN}}">
        <meta property="og:type" content="website">

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{PROJECT_NAME}} - {{CUSTOMER_NAME}}">
        <meta name="twitter:description" content="{{PROJECT_DESCRIPTION}}">
        <meta name="twitter:image" content="{{ absolute_url(asset('assets/img/og-image.png')) }}">

        <title>{{PROJECT_NAME}} - {% block title %}Accueil{% endblock %}</title>
        <link rel="icon" href="{{asset('assets/img/favicon.svg')}}" type="image/svg+xml">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-body vh-100">
    
        {# ALERTS #}
        <div class="alert-container position-fixed w-25" style="z-index: 999;  bottom: 0; right: 0;">
            {{ include('admin/components/alerts.html.twig') }}
            {{ include('admin/components/flashes.html.twig') }}
        </div>

        {% block body %}{% endblock %}
        
        {% block javascript %}
        {% endblock %}
    </body>
</html>
